/**
 * Styles for the sample talk, you don’t need to copy this to use Inspire.js
 * If you just want the theme of the sample talk, use theme.css
 */

#intro h1,
#intro h2 {
  margin: 0;
}

#intro h1 {
  /* margin-top: auto; */
  letter-spacing: -0.04em;
  font-size: calc(200% + 10vh);
  line-height: 1.05em;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}

#intro h2 {
  width: 12em;
  font-size: calc(85% + 3vh);
  font-weight: 300;
  margin-top: 1rem;
}

/* #intro h2::first-line {
		font-size: 80%;
	} */

#intro .attribution {
  margin-top: auto;
  font-weight: bold;
  font-size: 80%;
  color: var(--color-yellow);
  text-align: center;
}

#media-plugin {
  flex-flow: row;
  padding: 2rem;
}

#media-plugin > div:first-child {
  margin-right: 1em;
}

#media-plugin h1 {
  font-size: 200%;
}

#media-plugin .annotation {
  font-weight: 300;
}

.slide.white {
  background: #fafafa;
}
